.editor-icon {
  width: 45px !important;
  height: 45px !important;
  display: inline-block;
  vertical-align: middle;
}

.insert-panel__icon {
  width: 45px !important;
  height: 45px !important;
}

.editor-icon path {
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.editor-icon__stroke {
  stroke: currentColor;
  fill: none;
}

.editor-icon__fill {
  fill: currentColor;
}

.ce-toolbox__button {
  width: 45px !important;
  height: 45px !important;
}

.ce-toolbox__button svg {
  width: 45px !important;
  height: 45px !important;
}
