.editor-icon {
  width: 45px !important;
  height: 45px !important;
  display: inline-block;
  vertical-align: middle;
}

.editor-icon--h2 {
  width: 45px !important;
  height: 45px !important;
  display: inline-block;
  vertical-align: middle;
}
.editor-icon--h3 {
  width: 30px !important;
  height: 30px !important;
  display: inline-block;
  vertical-align: middle;
}
.editor-icon--h4 {
  width: 20px !important;
  height: 20px !important;
  display: inline-block;
  vertical-align: middle;
}

.insert-panel__icon {
  width: 45px !important;
  height: 45px !important;
}

.editor-icon path {
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.editor-icon__stroke {
  stroke: currentColor;
  fill: none;
}

.editor-icon__fill {
  fill: currentColor;
}

.ce-toolbox__button {
  width: 45px !important;
  height: 45px !important;
}

.ce-toolbox__button svg {
  width: 45px !important;
  height: 45px !important;
}
:deep(.editor-icon__notes-box) {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

:deep(.editor-icon__notes-line) {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.4;
  stroke-linecap: round;
  opacity: 0.45;
}

:deep(.editor-icon__light) {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.4; /* lighter lines */
  opacity: 0.6; /* makes them visually lighter */
  stroke-linecap: round;
}

.editor-icon__dotted {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.8;
  stroke-linecap: round;
  stroke-dasharray: 1.2 3;
}
.editor-icon__text {
  fill: currentColor;
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: 600;
}

.editor-icon__text--bold {
  font-weight: 800;
}

.editor-icon__text--italic {
  font-style: italic;
}
.editor-icon__stroke {
  stroke: currentColor;
  fill: none;
  stroke-width: 1.8;
  stroke-linecap: round;
  stroke-linejoin: round;
}
